<!DOCTYPE html>

<html>
<head>
	<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="/bootstrap-prestructure_files/css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<title>Course Command Center</title>
	
</head>

	<body>
    
	   <div class="container-fluid">
	    <div class="row">
	   	<div class="login-area">
		   {% if loggedin %}
		   <a href="{{editpath}}" class="login-link"> edit </a> | <a href="{{historypath}}" class="login-link">history</a> |  {{username}} <a href="/logout" class="login-link">(logout)</a>
		   {% else %}
		   <a href="/signup" class="login-link"> sign-up </a>|<a href="/login" class="login-link"> login </a>
		   {% endif %}
	   	</div>
	   	</div>   
	   </div>
		
	   <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 text-center">
                        <h1 class="title-super text-thin text-uppercase">{{organization}}</h1>
                        
                    </div>
                    <div class="col-md-3 text-center">
                        <h1 class="title-super text-thin text-uppercase">72*</h1>
                        <h1>sunny</h1>
                    </div>
                    <div class="col-md-3 text-center">
                        <h1 class="title-super text-thin text-uppercase">{{weekday}}</h1>
                        <h1>{{month}} {{day}}</h1>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            
            
            
            	
            	<div class="row text-center">
					<H2>Assignments</H2>
					
            	    
            	        <textarea class="assignment-text">{{c.content}}</textarea>
						
            	</div>  
            	    
            	    
				<div class="text-center form-inline">
						<button class="btn btn-large" type="button"><a href="{{yesterday}}">Yesterday</a></button>
						
						<button class="btn btn-large" type="button"><a href="{{tomorrow}}">Tomorrow</a></button> 
						<button class="btn btn-large" type="button"><a href="{{editpath}}">Edit</a></button>     	    
            	</div>
            	
				<div class="jumbotron text-center">
						<div class='container'></div>
						<p>{{c.content}}</p>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
						</div>
				</div>
            	    
            	

           
        	
	   	
	</div>
	
	</body>
</html>
