<!DOCTYPE html>

<html>
<head>
	<title>Easy Job Board</title>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

	<body>
	    <a href="/" class="main-title">
	      Easy Job Board
	    </a>
	   
		   <div class=login-area>
			   <a href="/signup" class="login-link"> sign-up </a>
		   </div>

<form class="form-horizontal" method ="post">
	
	<div class="form-group">
		<h2>Enter your information to Log In</h2>
    </div>
    <div class="form-group">
		<label for="username1" class="col-sm-2 control-label">Your Username:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="username" value="{{ username }}">
	</div>
	<div class="form-group">
		<label for="password1" class="col-sm-2 control-label">Your Password:</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" name="password" value="{{ password }}">
	</div>
	<div style="color: red">{{ error }}</div>
	<input type="submit">
</form>
	</body>
</html>
