<!DOCTYPE html>

<html>
<head>
	<title>CCC</title>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

	<body>
	    <a href="/" class="main-title">
	      CCC
	    </a>
	   
		   <div class=login-area>
			   <a href="/login" class="login-link"> login </a>
		   </div>

<form method ="post">
    <h2>Enter your information here to sign-up</h2>
   
 Your username:  <input type="text" name="username" value="{{ username }}"><div style="color: red">{{ error_un }}</div> 
   
   
   
   Your password: <input type="password" name="password" value="{{ password }}"><div style="color: red">{{ error_pw }}</div>
 
   
   
   Verify password: <input type="password" name="verify" value="{{ verify }}"><div style="color: red">{{ error_v }}</div>
   
   
  
   Your email: <input type="text" name="email" value="{{ email }}"><div style="color: red">{{ error_e }}</div>



   Your organization: <input type="text" name="organization" value="{{ organization }}"><div style="color: red">{{ error_o }}</div>
   
 
    <input type="submit">
</form>

	</body>
</html>
